body {
  background-color: #00B82D;
}

.title {
  font-family: 'Handjet', sans-serif;
  font-size: 2.5em;
  color: #632125;
  text-align: center;
}

p {
  color: #B8000B;
  text-align: left;
  font-size: 20px;
  background-color: #1E7834;
}



.handjet-500 {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

.second-header {
  color: #1C3823;
  font-size: 50px;
}

.test-text {
  background-color: #1E7834;
}

td {
  border-style: outset;
  font-size: 20px;
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: blue;
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background: green;
}